.app_light_theme {
    --bg-color: #f6f6f6;
    --inverted-bg-color: #1f1f1f;
    --primary-color: #000;
    --secondary-color: #e8e8e8;
    --inverted-primary-color: #e8e8e8;
    --inverted-secondary-color: #000;
}