.app_orange_theme {
    --bg-color: #faf8f4;
    --inverted-bg-color: #fb7d07;
    --primary-color: #fb3407fe;
    --secondary-color: #faf8f4;
    --inverted-primary-color: #faf8f4;
    --inverted-secondary-color: #fb3407fe;
}